@import './function.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "游明朝", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}
body{
  background-color: white;
  width: 100%;
}
.container{
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}
.header{
  height: 60px;
  margin: 10px 15px;
  display: flex;
  & .header_logo{
    height: 100%;
    width: 20%;
    & img{
      height: 60px;
      width: auto;
    }
  }
  & .menu_box{
    width: 60%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 14px;
    @include media(md){
      display: none;
  }
    & .menu_item{
      width: 20%;
      text-align: center;
      line-height: 60px;
      &:hover{
        cursor: auto;
        border: 1px solid green;
      }
      & a{
        text-decoration: none;
        display: block; //クリック範囲が親要素まで広がる
        color: black;
      }
    }
  }
}
/* ハンバーガーメニュー */
.menu_btn{
  display: none;
  @include media(md){
    display: block;
    border: none;
    background-color:rgba(0,0,0,0);
    position: absolute;
    z-index: 200;
    top: 30px;
    right: 20px;
  }
  &::after{
    font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        font-size: 1.6rem;
        content: '\f0c9';
  }
}
.is-active{
  display: flex!important;
  flex-direction: column;
  background-color: beige;
  width: 100vw!important;
  position: absolute;
  z-index: 100;
  justify-content: unset!important;
  & .menu_item{
    width: 90%!important;
  }
}
.is-close::after{
  content: '\f00d';
}
/* ハンバーガーメニュー　ここまで */

.main{
  background-color: #fff9f0;
}
.top_container{
  padding: 25px 0px;
  & .breadcrumb{
    list-style: none;
    font-size: 12px;
    & li{
      display: inline-block;
      &::after{
        content: ">";
        padding: 0 3px;
      }
      &:last-child:after {
        content: "";
      }
    }
  }
  & .main_visual{
    height: 400px;
    padding: 0 30px;
    &_img{
      width: 100%;
      height: 400px;
      object-fit: cover;
    }
  }
}
/* slider */
/* デフォルト矢印を非表示 */
.slick-arrow{
  z-index:2!important;
  &:before{
    content:""!important;
    width: 100%!important;
    height: 100%!important;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* カスタム矢印を表示 */
.slider-arrow {
  font-size: 32px;
  color: rgb(231, 154, 54);
}
.slick-next{
  right:0px!important;
}
.slick-prev{
  left:0px!important;
}
.slick-dots{
  position: relative!important;
  bottom: 0!important;
}
/* slider　ここまで */

.menu_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 25px auto;
  padding: 0 30px;
  & .menu_box{
    width: 30%;
    @include media(md){
      width: 47%;
    }
    margin: 20px 0;
    text-align: center;
    transition-duration: 0.3s;
    &:hover{
      cursor: pointer;
      transform: scale(1.1);
  transition-duration: 0.3s;
    }
    & img{
      width: 100%;
      height: auto;
      border-radius: 2%;
    }
    & .menu_name{
      font-size: 16px;
      text-align: right;
    }
    & .menu_price{
      font-size: 12px;
      text-align: right;
    }
  }
}

.link_container{
  display: flex;
  @include media(md){
    display: block;
  }
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 14px;
  padding: 0 20%;
  margin: 25px auto;
  & .link_box{
    width: 40%;
    margin: 10px 5%;
    @include media(md){
      width: 50%;
      margin: 10px auto;
    }
    border-radius: 5%;
    background-color: coral;
    text-align: center;
    &:hover{
      cursor: pointer;
      background-color: rgb(255, 212, 196);
    }
    & .link_text{
      text-decoration: none;
      color: #fff;
      position: relative;
      display: block;
      padding: 10px 0;
    }
    & .link_arrow::after{
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        content: '\f054';
        position: absolute;
        top: 50%;
        right: 10px;
        margin-top: -8px;
      }
    & .link_icon::after{
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      content: '\f1c1';
      position: absolute;
      top: 50%;
      right: 10px;
      margin-top: -8px;
    } 
  }
}

.shop_info{
  display: flex;
  justify-content: center;
  margin: 0px auto;
  padding: 25px 0;
  height: 350px;
  @include media(md){
    display: block;
    height: auto;
  }
  & .shop_map{
    width: 50%;
    position: relative;
    @include media(md){
      width: 80%;
      margin: 0 auto;
      height: 300px;
    }
    & iframe{
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
    }
  }
  & .shop_text{
    width: 40%;
    @include media(md){
      width: 80%;
      margin: 0 auto;
      padding-top: 50px;
      text-align: center;
    }
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 5%;
    &_name{
      font-size: 16px;
      font-weight: bold;
      padding-bottom: 20px;
    }
    &_address{
      font-size: 14px;
    }
    &_link{
      font-size: 12px;
      margin-left: 40px;
      @include media(md){
        margin-left: 0px;      
      }
      position: relative;
      text-decoration: none;
      &::before{
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        content: '\f054';
        position: absolute;
        @include media(md){
          position: unset;
        }
        top: 50%;
        left: -13px;
        margin-top: -6px;
      }
    }
  }
}

.footer{
  background-color: burlywood;
  height: auto;
  margin: 0px auto;
  padding: 25px 30px;
  &_menu{
    display: flex;
    &_logo{
      width: 20%;
      text-align: center;
      @include media(md){
        display: none;
      }
      & img{
        height: 100px;
        width: auto;
      }
    }
    & .category_container{
      width: 70%;
      margin: 0 auto;
      display: flex;
      @include media(md){
        display: block;
        width: 100%;
      }
      justify-content: space-between;
      & .category_box{
        width: 100%;
        @include media(md){
          border-bottom: 1px solid gray;
        }
        & .category_title{
          font-size: 16px;
          padding-bottom: 10px;
          @include media(md){
            padding-bottom: 0px;
            padding-top: 10px;
          }
        }
        & .category_list{
          list-style: none;
          font-size: 14px;
          padding-bottom: 5px;
          display: none;
        }
      }
    }
  }
  &_link{
    padding-top: 20px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 80%; 
    margin: 0 auto;
    @include media(md){
      display: block;
      width: 100%;
      padding-top: 0px;
    }
    &_list{
      @include media(md){
        border-bottom: 1px solid gray;
        padding-top: 10px;
      }
      & a{
        text-decoration: none;
        color: black;
        &:hover{
          cursor: pointer;
          color: gray;
        }
      }
    }
  }
}
